<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tutors</ion-title>

    <ion-header>
      <ion-toolbar>
        <ion-title>Tutores</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-header>
        <ion-toolbar>
          <ion-title>Lista de Tutores</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-item>
          <ion-label position="floating">Filtrar por Especialidad</ion-label>
          <ion-input type="text" [(ngModel)]="specialityFilter" (ionChange)="filterTutors()"></ion-input>
        </ion-item>
      
        <ion-list>
          <ion-item *ngFor="let tutor of filteredTutors">
            <ion-label>
              <h2>{{ tutor.name }}</h2>
              <p>{{ tutor.speciality }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
        

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tutors</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
